{% extends 'base.html' %}

{% block content %}
<h1>Menu Items<a href="{% url 'menu:create' %}"><small> Add Item</small></a></h1>
    <div class="row">
    <div class="class col-sm-6 text-center col-sm-offset-3">
        <h1>User Following Feed</h1>


{% for obj in object_list %}
                 <div class="thumbnail">
                <h3><a href="{% url 'profiles:detail' username=obj.user.username %}">{{ obj.user.username }}</a></h3>
                <strong>{{ obj.name }} </strong>
                    <p><br/><a href="{% url 'profiles:detail' username=obj.user.username %}?q={{ obj.restaurant }}">{{ obj.restaurant }}</a>
                        | <a href="{% url 'profiles:detail' username=obj.user.username %}?q={{ obj.restaurant.category }}">{{ obj.restaurant.category }}</a> |
                        <a href="{% url 'profiles:detail' username=obj.user.username %}?q={{ obj.restaurant.location }}">{{ obj.restaurant.location }}<br/></a></p>
                        <b>{{ obj.name }}:</b> with
                     {% for ing in obj.get_contents %}
                            <a href="{{ request.path }}?q={{ ing }}">{{ ing }}</a>
                {% endfor %}
                </div>
   {% endfor %}
            </div>
            </div>
{% endblock %}